﻿@model cumulative1.Models.Student
@{
    ViewBag.Title = "Show";
}

<a href="/Student/List">Back To Students</a>
<div id="containershow">
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <p>@Model.StudentNumber</p>
    <p>@Model.EnrolDate</p>
    
</div>

